.profile * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile {
  margin: auto;
}

.profileHeader {
  display: flex;
  margin: auto;
  max-width: 900px;
  padding: 50px 50px;
}

.profilePicture {
  height: 168px;
  width: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  border-radius: 100px;
  border: 3px solid #f5f5f5;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
}

.userName {
  margin-right: 20px;
}

.userNameFollowStatus {
  display: flex;
}

.userStats {
  display: flex;
  margin: 20px 0;
}

.userStat {
  margin-right: 20px;
}

.profilePosts {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin-top: 10px;
}

.profilePost {
  height: 290px;
  width: 290px;
  margin: 10px 0;
}
