.post * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

.noPosts {
  text-align: center;
  padding-top: 200px;
}

.post {
  width: 600px;
  margin: 25px auto;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.postTopBar,
.postDescription,
.postComments,
.postTimestamp {
  padding: 0 16px;
}

.postDescription {
  margin-top: 8px;
}

.postTimestamp {
  margin-bottom: 8px;
  font-size: 10px;
  letter-spacing: 0.2px;
  line-height: 18px;
  text-transform: uppercase;
}

.postTopBar {
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid #efefef;
}

.postImage {
  max-height: 750px;
}

.postImage img {
  width: 100%;
}

.postLikeStatus {
  font-size: 24px;
  margin-top: 8px;
  user-select: none;
}

.postLikeStatusFull {
  color: #3897f0;
}

.postCommentsNone {
  padding: -10px;
}

.postAddComment {
  padding: 18.5px 16px;
  border-top: 1px solid #efefef;
}

.postAddCommentForm {
  display: flex;
  align-items: center;
}

.postAddComment .postAddCommentInput,
.postAddComment .postAddCommentInput:active {
  border: none;
  box-shadow: none;
}

.postAddComment .postAddCommentText {
  width: 95%;
  font-size: 14px;
  line-height: 18px;
  resize: none;
}

.postAddComment .postAddCommentSubmit {
  width: 5%;
  color: #3897f0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
}

.createPostFormToggleButton {
  display: block;
  margin: 50px auto;
  width: 200px;
  background-color: lightblue;
  color: black;
  padding: 10px;
}

.createPostForm * {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.createPostForm {
  width: 600px;
  margin: 100px auto;
}

.createPostForm .createPostSubmit {
  background-color: lightskyblue;
}

.createPostForm {
  width: 600px;
  margin: 50px auto;
  text-align: center;
  padding: 50px;
  background-color: lightskyblue;
  border-radius: 25px;
}

.createPostForm h1 {
  padding-bottom: 25px;
}

.createPostForm input {
  text-align: center;
  border-radius: 3px;
  background-color: #dadada;
  border: 1px solid black;
  color: black;
  margin: 5px auto;
}

.createPostForm input[type="submit"] {
  background-color: lightgreen;
}

.deleteButton {
  margin-left: 440px;
  color: gray;
  background-color: #fff;
  border-color: #fff;
}

.postLikeCount:hover {
  color: gray;
  cursor: pointer;
}

#allLikesSection {
  display:none;
  position:fixed;
  z-index: inherit 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.7);
}

.allLikesList {
 background-color: #f4f4f4;
margin: 10% auto;
padding: 20px;
width: 30%;
height: 60%;
box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2)
}

.closeBtn {
  color: gray;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}