.post * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.post {
  width: 600px;
  margin: 25px auto;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.postTopBar,
.postDescription,
.postComments {
  padding: 0 16px;
}

.postTopBar {
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid #efefef;
}

.postImage {
  background-color: lightcoral;
  max-height: 750px;
}

.postImage img {
  width: 100%;
}

.postDescription {
  margin-top: 8px;
}

.postLikeStatus {
  font-size: 24px;
  margin-top: 8px;
  user-select: none;
}

.postLikeStatusFull {
  color: red;
}

.postComments {
  margin-bottom: 8px;
}

.postCommentsNone {
  padding: -10px;
}

.postAddComment {
  padding: 10px 15px;
  border-top: 1px solid #efefef;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  position: relative;
}

.postAddCommentForm {
  display: flex;
  align-items: center;
  flex-grow: 1;
  vertical-align: baseline;
}

.postAddComment .postAddCommentInput,
.postAddComment .postAddCommentInput:active {
  border: none;
  box-shadow: none;
}

.postAddComment .postAddCommentText {
  width: 95%;
  font-size: 14px;
  line-height: 18px;
  min-height: 18px;
  resize: none;
  color: #999;
}

.postAddComment .postAddCommentSubmit {
  width: 5%;
  color: #3897f0;
  font-weight: 600;
  font-size: 14px;
}
